/*

- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

COLORS: 

#E50914 -> Shades: #b70710
#222
#303030
#757575

Dimensions:
container: max-width: 120rem


*/

@font-face {
    font-family: "Netflix-sans";
    src: url("/assets/fonts/NetflixSans_W_Md.woff2") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Netflix-sans";
    src: url("/assets/fonts/NetflixSans_W_Rg.woff2") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Netflix-sans", sans-serif;
    font-weight: 500;
}

input {
    font-family: "Netflix-sans", sans-serif;
}

button {
    font-family: "Netflix-sans", sans-serif;
}

/* *********************************** */
/* Containers */
/* *********************************** */


.grid {
    display: grid;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--order-1 {
    order: 1;
}

.container--sm {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.container--md {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.container--lg {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex--column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.justify-self--start {
    justify-self: flex-start;
}

.justify-self--end {
    justify-self: flex-end;
}

/* *********************************** */
/* Elements */
/* *********************************** */

.btn,
.btn:visited,
.btn:link {
    background-color: #E50914;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: normal;
    padding: 0.8rem 1.6rem;
    border-radius: .4rem;
}

.btn--generic {
    border: none;
    padding: 1.6rem 2.4rem;
    letter-spacing: .15rem;
    font-size: 2.4rem;
}

.btn--generic:hover {
    background-color: #b70710;
    cursor: pointer;
}

.input-container {
    display: flex;
    width: 100%;
}

.input-width--md {
    width: 80%;
}

.input--generic {
    padding: 1.6rem 1rem;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

.input--generic:focus {
    outline: none;
}

.input--flying-placeholder {
    position: relative;
}

/* ------------------------- TO DO CUSTOM INPUT--------------------------------------------*/

.input--flying-placeholder::before {
    content: "Email address";
    color: #999;
    font-size: 1.6rem;
    
    top: calc(50% - 1rem);
    left: 1rem;
    position: absolute;
}

.heading--primary {
    font-size: 4.8rem;
    line-height: 1.2;
}

.heading--secondary {
    font-size: 2.4rem;
}

.description {
    font-size: 1.8rem;
}

.chevron {
    height: 2.4rem;
    fill: #fff;
} 

/* *********************************** */
/* Spacing */
/* *********************************** */

.padding-top--md {
    padding-top: 4.8rem;
}

.padding-top--lg {
    padding-top: 16rem;
}

.padding-bottom--lg {
    padding-bottom: 16rem;
}

.padding-bottom--md {
    padding-bottom: 4.8rem;
}

.margin-bottom--xs {
    margin-bottom: 1.2rem;
}

.margin-bottom--sm {
    margin-bottom: 2.4rem;
}

.margin-bottom--md {
    margin-bottom: 4.8rem;
}

.margin-bottom--lg {
    margin-bottom: 16rem;
}

.margin-left--xs {
    margin-left: 1.2rem;
}

.margin-top--lg {
    margin-top: 16rem;
}

.margin-top--md {
    margin-top: 4.8rem;
}

/* *********************************** */
/* Borders */
/* *********************************** */

.border-bottom-md {
    border-bottom: 1rem solid #222;
}

.no-border-radius {
    border: none;
}

.no-border-radius--left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* *********************************** */
/* Colors */
/* *********************************** */

.background--black {
    background-color: #000;
}

/* *********************************** */
/* SVGs */
/* *********************************** */

.svg-white {
    fill: #fff;
}

.svg-open, 
.svg-closed {
    height: 3rem;
}

.svg-closed {
    transform: rotateZ(45deg);
}

/* *********************************** */
/* Links */
/* *********************************** */

.no-default:visited,
.no-default:link {
    text-decoration: none;
}