.main {
    color: #fff;
}

/* *********************************** */
/* SECTION - HERO */
/* *********************************** */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    padding: 2.4rem 4.8rem;
}

.logo-container {
    height: 5rem;
}

.logo-sm {
    fill: #E50914;
    height: 3.6rem;
}

.select {
    background-color: transparent;
    font-size: 2rem;
    color: #fff;

    padding: 0.8rem 1.6rem;
    border-radius: .4rem;
    margin-left: auto;
}

.section-hero {
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("/assets/background/landing-hero-background.jpg");
    background-size: cover;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* *********************************** */
/* SECTION - FEATURES */
/* *********************************** */

.feature-container {
    gap: 16rem;
    padding: 0;
}

.feature-text {
    justify-content: center;
    align-items: flex-start;
}

.card-container {
    position: relative;
    height: 40rem;
}

.card-mask {
    height: 100%;
    position: relative;
}

.card-video-tv {
    position: absolute;
    top: 8.3rem;
    left: 7rem;
    width: 73%;
}

.card-image {
    display: inline-block;
    height: 90%;
}

.card-download-box {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    border: 0.3rem solid #222;
    background-color: #000;
    height: 10rem;
    border-radius: 1.6rem;
    padding: 1rem;
    bottom: 15%;
    left: 14%
}

.download-box-image {
    height: 100%;
}

.card-download-heading {
    font-weight: 700;
}

.card-download-description {
    color: #0071eb;
    font-size: 1.6rem;
}

.download-icon {
    display: inline-block;
    height: 6.4rem;
    padding-left: 2.4rem;
}

.card-video-tv-smartphones {
    position: absolute;
    top: 4.35rem;
    left: 10.1rem;
    width: 61%;
}

.card-image-kids {
    display: inline-block;
    height: 100%;
}

/* *********************************** */
/* SECTION - FAQ */
/* *********************************** */

.container-faq {
    align-items: center;
}

.faq-list {
    width: 100%;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.faq-list li {
    background-color: #303030;
    width: 100%;
    font-weight: 500;
    padding: 2.4rem 3.2rem;
}

.faq-item {
    width: 100%;
    justify-content: space-between;
}

/* *********************************** */
/* SECTION - Footer */
/* *********************************** */

.footer {
    color: #757575;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-link {
    color: #757575;
    font-size: 1.6rem;
}

.footer-link:hover {
    text-decoration: underline;
}